<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Фильмы</title>
</head>
<body>
<div>
    <a th:href="@{'/halls'}" th:text="Залы"/>
    <a th:href="@{'/films'}" th:text="Фильмы"/>
    <a th:href="@{'/sessions'}" th:text="Сеансы"/>
    <a th:href="@{'/tickets'}" th:text="Билеты"/>

</div>

<div>
    <form method="post"  th:object="${film}" >
        <input th:field="*{name_film}" type="text"  placeholder="Введите название фильма">
        <input type="number" name="addAge_limit" th:field="*{age_limit}" >
        <input type="number" name="addDuration" th:field="*{duration}" >
        <input type="text" name="addGenre" th:field="*{genre}" placeholder="Введите жанр">
        <button type="submit">Добавить</button>

    </form>
</div>

<table id="myTable">
    <tr>
        <th>Film Name</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>
    <tr th:each="filmec : ${films}">
        <td>
            <a  th:href="@{'/film/film_id/' + ${filmec.getFilm_id()}}" th:text="${filmec.getName_film()}"/>
        </td>
        <td>
             Edit
        </td>
        <td>
            Delete
        </td>
    </tr>
</table>
</body>
</html>

<!--th:text="${film.getNameFilm()}"-->