<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:action="@{/sessionsByFilms}" method="post">
        <input type="text" id="name" name="name_film" placeholder="Введите название фильма"/>
        <table>
            <tr th:each="sessionWithFilm : ${sessionsWithFilm}">
                <td th:text="${sessionWithFilm.getSession_id()}"></td>
                <td th:text="${sessionWithFilm.getFilmId()}"></td>
                <td th:text="${sessionWithFilm.getNumHall()}"></td>
                <td th:text="${sessionWithFilm.getTime_of_start()}"></td>
            </tr>

        </table>

        <a th:href="@{/sessions}" th:text="Сеансы"/>
        <a th:href="@{'/halls'}" th:text="Залы"/>
        <a th:href="@{'/films'}" th:text="Фильмы"/>
    </form>
</div>
</body>
</html>